// Sass миксины

$xxl: 1400;
$xl: 1200;
$lg: 992;
$md: 768;
$sm: 576;

@mixin media($size) {
    @media (max-width:#{$size}px) {
        @content;
    }
}

$baseValueLarge: 1920px;
$baseValueSmall: 392px;

@mixin res($property, $value) {
    #{$property}: calc(($value / $baseValueLarge) * 100vw);
}
@mixin resa($property, $value) {
    #{$property}: calc(($value / $baseValueSmall) * 100vw);
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include res('max-width', 1470px);
    @include res('padding-right', 15px);
    @include res('padding-left', 15px);
    @include media(576){
        @include resa('max-width', 392px);
        @include resa('padding-right', 15px);
        @include resa('padding-left', 15px);
    }
}