@import '../abstracts/mixins.scss';
.header{
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('gap', 33px);
        @include res('max-width', 1788px);
        margin-left: auto;
        margin-right: auto;
        @include res('padding-left', 15px);
        @include res('padding-right', 15px);
    }
    &__logo{
        @include res('width', 286.71px);
        @include res('min-width', 286.71px);
        @include res('height', 78.32px);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        img,svg{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bot{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 40px);
    }
    &__link{
        color: #262626;
        line-height: 120%;
        font-weight: 700;
        text-transform: uppercase;
        @include res('font-size', 15px);
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include res('gap', 30px);
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            @include res('font-size', 13px);
            svg,img{
                @include res('width', 32px);
                @include res('height', 32px);
            }
        }
    }
}