@import '../abstracts/mixins.scss';
.header{
    @include media(576){
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include resa('height', 50px);
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('gap', 33px);
        @include res('max-width', 1788px);
        margin-left: auto;
        margin-right: auto;
        @include res('padding-left', 15px);
        @include res('padding-right', 15px);
        @include media(576){
            width: 100%;
            @include resa('gap', 15px);
        }
    }
    &__logo{
        @include res('width', 286.71px);
        @include res('min-width', 286.71px);
        @include res('height', 78.32px);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        @include media(576){
            @include resa('width', 114.684px);
            @include resa('min-width', 114.684px);
            @include resa('height', 31.328px);
        }
        img,svg{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid #E0E0E0;
        @include res('padding-left', 63px);
        @include res('border-width', 1px);
        @include media(576){
            border: none;
            justify-content: flex-end;
        }
        &-left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1 1 auto;
            @include media(576){
                display: none;
            }
        }
        &-link{
            @include res('padding-top', 13px);
            @include res('padding-bottom', 13px);
            @include res('padding-left', 16px);
            @include res('padding-right', 16px);
            @include res('font-size', 16px);
            height: 100%;
            font-weight: 500;
            color: #464343;
            &.active{
                background: #F2F2F2;
                color: #D15573;
            }
        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include res('gap', 30px);
        }
        &-btn{
            font-weight: 600;
            @include res('font-size', 17px);
            @include media(576){
                display: none;
            }
        }
    }
    &__lang{
        position: relative;
        &-btn{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-transform: uppercase;
            color: #6B6B6B;
            line-height: 80%;
            @include res('font-size', 16px);
            @include res('gap', 2px);   
            @include media(576){
                @include resa('font-size', 16px);
                @include resa('gap', 4px);   
            }
        }
        svg{
            &:nth-child(1){
                @include res('width', 38.25px);
                @include res('height', 27px);
                @include res('margin-right', 6px);
                @include media(576){
                    @include resa('width', 26.775px);
                    @include resa('height', 18.9px);
                    @include resa('margin-right', 3px);
                }
            }
            &:nth-child(2){
                @include res('width', 12px);
                @include res('height', 9px);
                @include res('margin-bottom', -2px);
                @include media(576){
                    @include resa('width', 12px);
                    @include resa('height', 9px);
                    @include resa('margin-bottom', -2px);
                }
            }
        }
    }
    &__bot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('padding-left', 80px);
        @include res('padding-top', 14px);
        @include res('padding-bottom', 14px);
        @include media(576){
            display: none;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 40px);
    }
    &__link{
        color: #262626;
        line-height: 120%;
        font-weight: 700;
        text-transform: uppercase;
        @include res('font-size', 15px);
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include res('gap', 30px);
        @include media(576){
            display: none;
        }
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            @include res('font-size', 13px);
            svg,img{
                @include res('width', 32px);
                @include res('height', 32px);
            }
        }
    }
    &__button {
        @include resa('width', 30px);
        @include resa('height', 30px);
        position: relative;
        border: none;
        outline: none;
        background: none;
        display: none;
        position: relative;
        z-index: 1001;
        @include media(576) {
            display: block;
        }
        &.open {
            .header__button-line,
            &::before {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(135deg);
            }
            &::after {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(-135deg);
            }
        }
        &::before,
        &::after,
        &-line {
            transition: 0.5s;
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            @include resa('height', 2px);
            background: #000;
        }
        &::before {
            top: 20%;
        }
        &::after {
            bottom: 20%;
        }
        &-line {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__menu{
        display: none;
        @include media(576){
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            @include resa('gap', 20px);
            &.open{
                opacity: 1;
                visibility: visible;
            }
        }
        .header__loc{
            display: none;
            @include media(576){
                display: flex;
            }
        }
        .header__btn{
            display: none;
            @include media(576){
                display: block;
            }
        }
    }
}