@import '../abstracts/mixins.scss';
.header{
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('gap', 33px);
        @include res('max-width', 1788px);
        margin-left: auto;
        margin-right: auto;
        @include res('padding-left', 15px);
        @include res('padding-right', 15px);
    }
    &__logo{
        @include res('width', 286.71px);
        @include res('min-width', 286.71px);
        @include res('height', 78.32px);
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        img,svg{
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid #E0E0E0;
        @include res('padding-left', 63px);
        @include res('border-width', 1px);
        &-left{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1 1 auto;
        }
        &-link{
            @include res('padding-top', 13px);
            @include res('padding-bottom', 13px);
            @include res('padding-left', 16px);
            @include res('padding-right', 16px);
            @include res('font-size', 16px);
            height: 100%;
            font-weight: 500;
            color: #464343;
            &.active{
                background: #F2F2F2;
                color: #D15573;
            }
        }
        &-right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @include res('gap', 30px);
        }
        &-btn{
            font-weight: 600;
            @include res('font-size', 17px);
        }
    }
    &__lang{
        position: relative;
        &-btn{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-transform: uppercase;
            color: #6B6B6B;
            line-height: 80%;
            @include res('font-size', 16px);
            @include res('gap', 2px);
        }
        svg{
            &:nth-child(1){
                @include res('width', 38.25px);
                @include res('height', 27px);
                @include res('margin-right', 6px);
            }
            &:nth-child(2){
                @include res('width', 12px);
                @include res('height', 9px);
                @include res('margin-bottom', -2px);
            }
        }
    }
    &__bot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include res('padding-left', 80px);
        @include res('padding-top', 14px);
        @include res('padding-bottom', 14px);
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include res('gap', 40px);
    }
    &__link{
        color: #262626;
        line-height: 120%;
        font-weight: 700;
        text-transform: uppercase;
        @include res('font-size', 15px);
    }
    &__icon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include res('gap', 30px);
        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            @include res('font-size', 13px);
            svg,img{
                @include res('width', 32px);
                @include res('height', 32px);
            }
        }
    }
}