mixin form()
    section.form#form
        .form__container.ccontainer 
            .form__wrap
                .form__left
                    <svg width="158" height="159" viewBox="0 0 158 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M79 139.125C111.723 139.125 138.25 112.43 138.25 79.5C138.25 46.57 111.723 19.875 79 19.875C46.2771 19.875 19.75 46.57 19.75 79.5C19.75 112.43 46.2771 139.125 79 139.125Z" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
                    <path d="M54.3125 79.5H103.688" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M79 54.6562V104.344" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    .form__content 
                        p.form__title Размещайте объявления
                        p.form__p Новая форма подачи позволит быстро и удобно разместить объявление
                a(href="#!").form__btn Подать объявление