mixin intro()
    section.intro 
        .intro__container.container 
            h1.intro__title Снимите квартиру выгодно
            .intro__content 
                .intro__tag 
                    button(type="button").intro__tag-item.active Купить
                    button(type="button").intro__tag-item Снять
                    button(type="button").intro__tag-item Посуточно
                    button(type="button").intro__tag-item Построить
                .intro__wrap 
                    .intro__drop 
                        button(type="button").intro__drop-button Квартиру 
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75 5L6 8.75L2.25 5" stroke="#98335C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .intro__drop-content 
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                    .intro__drop 
                        button(type="button").intro__drop-button 1,2 комн 
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75 5L6 8.75L2.25 5" stroke="#98335C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .intro__drop-content 
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                    .intro__drop 
                        button(type="button").intro__drop-button Цена
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75 5L6 8.75L2.25 5" stroke="#98335C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .intro__drop-content 
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                    .intro__drop 
                        button(type="button").intro__drop-button Город, адрес, метро, район, ж/д, шоссе или ЖК
                            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.75 5L6 8.75L2.25 5" stroke="#98335C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        .intro__drop-content 
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                            button(type="button").intro__drop-item text
                    .intro__action 
                        button(type="button").intro__btn Найти
                        button(type="button").intro__link Показать на карте