mixin product()
    .product 
        .product__img 
            img(src="@img/product.png", alt="" draggable="false")
            button.product__like 
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="40" height="40" rx="20" fill="black" fill-opacity="0.4"/>
                <path d="M20 27.7569C20 27.7569 12.1875 23.1389 12.1875 17.5312C12.1877 16.5401 12.513 15.5796 13.1082 14.8131C13.7035 14.0466 14.5318 13.5213 15.4525 13.3266C16.3732 13.1319 17.3293 13.2798 18.1583 13.7451C18.9874 14.2104 19.6381 14.9645 20 15.8791L20 15.8791C20.3619 14.9645 21.0126 14.2105 21.8417 13.7451C22.6707 13.2798 23.6268 13.1319 24.5475 13.3266C25.4682 13.5213 26.2965 14.0466 26.8918 14.8131C27.487 15.5796 27.8123 16.5401 27.8125 17.5312C27.8125 23.1389 20 27.7569 20 27.7569Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
        .product__content 
            p.product__title 50 000 ₹/мес <br><span>2-комн. кв. · 45 м² · 4/5 этаж</span>
            