include ./product 

mixin products()
    section.products 
        .products__container.container 
            .pp__header
                h2.pp__title Могут подойти 
            .products__content 
                +product
                +product
                +product
                +product
                +product
                +product
                +product
                +product
            button(type="button").products__btn Посмотреть еще
    section.products 
        .products__container.container 
            .pp__header
                h2.pp__title.sm Популярные объявления
                a(href="#!").pp__link Как сюда попасть?
            .products__content 
                +product
                +product
                +product
                +product
                +product
                +product
                +product
                +product
            button(type="button").products__btn2 Все предложения


